<template>
  <v-card>
    <v-img :src="imgSrc" height="150" />
    <v-card-title>{{descrip}}: {{name}}</v-card-title>
    <v-card-title>{{percent}}: {{value}} %</v-card-title>
  </v-card>
</template>

<script>

export default {
  props: {
    imgSrc: {
      type: String
    },
    name: {
      type: String
    },
    value: {
      type: Number
    }
  },
  data() {
    return {
      descrip: 'დასახელება',
      percent: 'მსგავსება'
    }
  }
}

</script>