<template>
  <v-layout>
    <form action="/api/reco" enctype="multipart/form-data" method="POST"> 
      <input type="file" name="img" />
      <v-radio-group v-model="selected" name="radios" >
        <v-radio
          v-for="lang in langs"
          :key="lang.id"
          :label="lang.name"
          :value="lang.id"
        >
        </v-radio>
      </v-radio-group>
      <input type="submit" value="Upload Photo"/>
    </form>
  </v-layout>
</template>

<script>
export default {
  data(){
    return {
      selected: 0,
      langs: [
        {
          id: 1,
          name: 'ასომთავრული',
        },
        {
          id: 2,
          name: 'ნუსხური',
        }
      ],
    }
  }
}
</script>

