<template>
  <v-app :dark="isDark" >
    <v-toolbar >
      <v-spacer />  
      <v-btn flat icon @click="isDark=!isDark" >
        <v-icon>brightness_medium</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  data() {
    return {
      isDark: true
    }
  },
}
</script>
